<div class="register-content">
  <mat-card>
    <mat-card-content>
      <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <h2>Registration</h2>
        <mat-form-field>
          <mat-label>Email</mat-label>
          <input matInput placeholder="Email" formControlName="username" required>
          <mat-error>
            {{form?.controls?.username?.errors?.hasOwnProperty('email')?
              'Sorry, please enter valid Email.' : 'This field is required!'}}

          </mat-error>
        </mat-form-field>
        <mat-form-field>
          <mat-label>First Name</mat-label>
          <input matInput formControlName="firstName" required>
          <mat-error>
            First name is required
          </mat-error>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Last Name</mat-label>
          <input matInput formControlName="lastName" required>
          <mat-error>
            Last name is required
          </mat-error>
        </mat-form-field>

        <mat-form-field>
          <input matInput type="password" placeholder="Password" formControlName="password" required>
          <mat-error>
            Please enter at least 6 digit
          </mat-error>
        </mat-form-field>
        <mat-form-field>
          <input matInput [matDatepicker]="picker" placeholder="Birth Date" formControlName="dateOfBirth" readonly>
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
          <mat-error>
            Birth Date is required
          </mat-error>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Address</mat-label>
          <textarea matInput name="address" rows="2" placeholder="Address" formControlName="address"></textarea>
          <mat-error>
            Address is required
          </mat-error>
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Company Name" formControlName="company" required />
          <mat-error>
            Company name is required
          </mat-error>
        </mat-form-field>
        <button mat-raised-button color="primary">Register</button>

      </form>
    </mat-card-content>
  </mat-card>
</div>
